body {
  color: #333;
}
a {
  cursor: pointer;
}
.w-100 {
  width: 100%;
}
.txt-gray {
  color: #aeaeae;
}
.txt-dark-gray {
  color: #737373;
}
.txt-blue {
  color: #4e9de6 !important;
}
.txt-green {
  color: #4ec12d;
}
.f-13 {
  font-size: 13px;
}
.f-15 {
  font-size: 15px;
}
.position-relative {
  position: relative;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.justify-content-between {
  justify-content: space-between !important;
  -ms-justify-content: space-between !important;
}
.justify-content-end {
  justify-content: flex-end !important;
  -ms-justify-content: flex-end !important;
}
.align-items-center {
  align-items: center !important;
  -ms-align-items: center !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
// .vuesax-app-is-ltr{
.f-size-14 {
  font-size: 14px;
}
.w-225px {
  width: 225px;
  max-width: 250px;
}
.w-180px {
  min-width: 180px;
  width: 180px;
}
.w-100px {
  width: 100px;
  max-width: 125px;
}

.vs-button-primary.vs-button-border .vs-button-backgroundx,
.vs-button-primary.vs-button-flat .vs-button-backgroundx {
}
.btn-green {
  font-weight: bold;
  font-size: 16px;
  background-color: #4ec12d !important;
  background: #4ec12d !important;
  border-radius: 0px;
  border: 2px solid #4ec12d;
  box-shadow: none !important;
  outline: none;
  text-decoration: none;
  transition: ease 0.1s;
  color: #fff !important;
  &:hover {
    background: #fff !important;
    color: #4ec12d !important;
  }
  &.mxw-130 {
    max-width: 130px;
  }
  &.mxw-250 {
    max-width: 250px;
  }
  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}
.btn-gray {
  background-color: #888888 !important;
  background: #888888 !important;
  border-radius: 0px;
  border: 2px solid #888888;
  box-shadow: none !important;
  -webkit-transition: ease 0.1s;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px;
  max-width: 200px;
  width: 180px;
  &:hover {
    background: #fff !important;
    color: #888888 !important;
  }
  &.Trusthub-btn {
    @media screen and (max-width: 575px) {
      max-width: 110px;
      padding: 0px !important;
    }
  }
  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}
.Trusthub-btn:focus,
.Trusthub-btn:active {
  background-color: #f1c800 !important;
  background: #f1c800 !important;
  color: #fff;
  border: 2px solid #f1c800 !important;
}
.vs-button-primary.vs-button-border .vs-button-backgroundx,
.vs-button-primary.vs-button-flat .vs-button-backgroundx {
  background: #f1c800;
}

.vs-checkbox-primary {
  input:checked {
    + .vs-checkbox {
      background: #4ec12d !important;
      border: 2px solid #4ec12d !important;
    }
  }
}

.login-wrapper {
  @media screen and (max-width: 991px) {
    padding-top: 5rem;
    padding-bottom: 2rem;
    height: 100% !important;
  }
  .vx-col {
    &.login-subwrapper {
      @media screen and (min-width: 1500px) {
        max-width: 1130px;
        width: 95% !important;
      }
      @media screen and (min-width: 992px) and (max-width: 1499px) {
        max-width: 950px;
        width: 95% !important;
      }
      @media screen and (max-width: 991px) {
        max-width: 500px;
        width: 92% !important;
      }
      .cpy-txt {
        p {
          @media screen and (max-width: 575px) {
            font-size: 12px;
          }
        }
      }
    }
    .vx-card {
      .vx-card__collapsible-content {
        .full-page-bg-color {
          @media screen and (min-width: 992px) {
            min-height: 520px;
          }
          .vx-row {
            &.no-gutter {
              @media screen and (min-width: 992px) {
                min-height: 520px;
              }
            }
            .vx-col {
              .login-logo {
                margin-bottom: 1rem;
                max-width: 85%;
                margin-left: 3rem !important;
                margin-top: 3rem;
                img {
                  max-width: 100%;
                  height: auto;
                }
                .attention-text {
                  font-size: 12.75px;
                }
                @media screen and (max-width: 991px) {
                  max-width: 260px;
                  margin-left: auto !important;
                  margin-right: auto !important;
                  margin-top: 2rem !important;
                  .attention-text,
                  .attention-title {
                    display: none !important;
                  }
                }
                &.footer-attention-txt {
                  max-width: 100%;
                  @media screen and (min-width: 992px) {
                    display: none;
                  }
                  @media screen and (max-width: 991px) {
                    margin-top: 0.5rem !important;
                    .attention-title {
                      font-size: 13px;
                    }
                    .attention-text {
                      font-size: 11px;
                    }
                    .attention-text,
                    .attention-title {
                      display: block !important;
                    }
                  }
                }
              }
              .text-center {
                text-align: center;
              }
              .appstore-wrapper {
                @media screen and (max-width: 991px) {
                  margin-top: 15px;
                  margin-right: 0px !important;
                  display: none !important;
                }
                a {
                  max-width: 185px;
                  margin-left: 5px;
                  &:nth-child(1) {
                    margin-left: 0px;
                  }
                  img {
                    height: 50px;
                    background: #000;
                    @media screen and (max-width: 991px) {
                      height: 40px;
                    }
                  }
                }
              }
              .footer-appstore-wrapper {
                @media screen and (min-width: 992px) {
                  display: none !important;
                }
                @media screen and (max-width: 991px) {
                  display: flex !important;
                }
              }
              &.right-wrapper {
                .tab-wrapper {
                  @media screen and (max-width: 575px) {
                    padding-left: 1rem !important;
                    padding-right: 1rem !important;
                  }
                  .vx-card__title {
                    .wrapper-heading {
                      max-width: calc(100% - 50px);
                      p {
                        font-size: 13px;
                      }
                    }
                    .msg-wrapper-icon {
                      width: 36px;
                    }
                  }
                  .password-inputcontrol {
                    .password-input {
                      max-width: calc(100% - 110px);
                      width: 100%;
                      position: relative;
                      .vs-input--input {
                        padding-right: 3rem !important;
                      }
                      i {
                        &.hs-password {
                          position: absolute;
                          top: 0;
                          right: 0;
                          margin-top: 13px;
                          margin-right: 13px;
                          color: #000;
                          cursor: pointer;
                          &.show {
                            color: #868686;
                          }
                        }
                      }
                    }
                    .generate-btn {
                      max-width: 100px;
                      button {
                        &.vs-button {
                          max-width: 100px;
                          padding-left: 0;
                          padding-right: 0;
                        }
                      }
                    }
                  }
                  .border-lightgray {
                    border: 1px solid #e7e7e7 !important;
                  }
                  .tab-wrapper-form {
                    margin-top: 2rem;
                    .vs-component {
                      .vs-con-input {
                        .vs-input--input {
                          &.hasValue {
                            + .vs-placeholder-label {
                              display: none;
                            }
                          }
                          &.hasIcon:not(.icon-after-input) {
                            + .vs-input--placeholder {
                            }
                          }
                          &:focus {
                            border: 1px solid #acacac !important;

                            & ~ .icon-inputx,
                            & ~ .vs-placeholder-label {
                              // color: #acacac;
                              color: #4ec12d !important;
                            }
                          }
                        }
                      }
                    }
                    .RF-content {
                      .con-slot-label {
                        @media screen and (max-width: 575px) {
                          font-size: 12px;
                        }
                      }
                      a {
                        color: #6d6d6d;
                        font-size: 12px;
                        @media screen and (max-width: 575px) {
                          font-size: 11px;
                        }
                      }
                    }
                    .LT-wrap {
                      &.loginoption-btnwrapper {
                        .vs-button-primary {
                          border: 2px solid rgba(0, 0, 0, 0.12) !important;
                          background: rgb(255, 255, 255) !important;
                          color: #4ec12d !important;
                          max-width: 116px;
                          width: 100%;
                          padding: 0.75rem 0;
                          &.btn-more {
                            max-width: 25px;
                          }
                          &:hover {
                            border: 2px solid #4ec12d !important;
                            background: #4ec12d !important;
                            background-color: #4ec12d !important;
                            color: #fff !important;
                          }
                          @media screen and (max-width: 1599px) {
                            padding: 0.65rem 0;
                            max-width: 21%;
                          }
                          @media screen and (max-width: 767px) {
                            font-size: 12px;
                          }
                        }
                        .accessmng-modal {
                          position: absolute;
                          top: -13.5rem;
                          max-width: calc(100% + 65px);
                          width: calc(100% + 65px);
                          z-index: 111;
                          padding: 15px;

                          @media screen and (max-width: 1499px) {
                            margin-left: -5%;
                            top: -13rem;
                          }

                          @media screen and (max-width: 575px) {
                            margin-left: -7%;
                            max-width: calc(100% + 45px);
                            width: calc(100% + 45px);
                          }

                          @media screen and (max-width: 450px) {
                            top: -11rem;
                          }

                          ul {
                            &.accessmng-block {
                              display: flex;
                              justify-content: space-between;
                              flex-wrap: wrap;
                              li {
                                width: calc(20% - 5px);
                                max-width: calc(20% - 5px);
                                height: 100px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: none !important;
                                margin: 10px 0px 0px !important;
                                @media screen and (max-width: 1499px) {
                                  height: 90px;
                                }
                                @media screen and (max-width: 450px) {
                                  height: 70px;
                                }
                              }
                            }
                          }
                          &:after {
                            display: inline-block;
                            margin-left: 0.255em;
                            vertical-align: 0.255em;
                            content: "";
                            border-top: 1.5em solid #aeaeae;
                            border-right: 1.5em solid transparent;
                            border-bottom: 0;
                            border-left: 1.5em solid transparent;
                            position: absolute;
                            right: 4rem;
                            bottom: -18px;
                            @media screen and (max-width: 1499px) {
                              right: 7%;
                            }
                            @media screen and (max-width: 575px) {
                              right: 0.35rem;
                              bottom: -14px;
                            }
                            @media screen and (max-width: 450px) {
                              right: 0.85rem;
                            }
                          }
                        }
                      }
                    }
                    .loginsocail-btn {
                      &.vs-button-primary {
                        &.vs-button-filled {
                          padding: 0px !important;
                          width: 38px;
                          height: 38px;
                          background-color: transparent !important;
                          background: transparent !important;
                          box-shadow: none;
                          font-size: 40px;
                          color: #000;
                          display: inline-flex;
                          justify-content: center;
                          align-items: center;
                          outline: none;
                          transition: ease 0.15s;
                          border-radius: 0px;
                          margin-left: 7px;
                          &:hover {
                            img {
                              &.black-icon {
                                display: none;
                              }
                              &.gray-icon {
                                display: block;
                              }
                            }
                          }
                          img {
                            width: 100%;
                            &.gray-icon {
                              display: none;
                            }
                          }
                          @media screen and (max-width: 1499px) {
                            width: 30px;
                            height: 30px;
                          }
                        }
                      }
                    }
                    .countdown-txt {
                      h4 {
                        color: #6f6f6f;
                      }
                    }
                    .password-jwt2 {
                      position: relative;
                      .hs-password {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-right: 13px;
                        margin-top: 13px;
                        color: #000;
                        &.show {
                          color: #868686;
                        }
                      }
                    }
                    .sub-trial-txt {
                      @media screen and (max-width: 991px) {
                        margin-bottom: 1.5rem !important;
                      }
                    }
                  }
                  .checkbox-register {
                    li {
                      &.checkbox-reg-txt {
                        font-size: 13.35px;
                        font-weight: 500;
                        color: #f9c201;
                        margin-top: 0px;
                        align-items: center;
                        .checkbox-reginput {
                          margin-right: 0;
                          .vs-checkbox {
                            border: 2px solid #f9c201 !important;
                          }
                          input {
                            &.vs-checkbox--input {
                              &:checked {
                                & ~ .vs-checkbox {
                                  background: #f9c201 !important;
                                }
                              }
                            }
                          }
                        }
                        @media screen and (max-width: 1499px) {
                          margin-right: 0.25rem !important;
                          font-size: 11px;
                        }
                        @media screen and (max-width: 991px) {
                          margin-bottom: 15px;
                        }
                      }
                    }
                  }
                  .sub-trial-txt {
                    a {
                      color: #606060;
                    }
                  }
                  .bottom-menu-icon {
                    margin-top: auto;
                    display: flex;
                    background: #4ec12d;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    margin-bottom: 2rem;
                    max-height: 55px;
                    align-items: center;
                    ul {
                      &:nth-child(1),
                      &:nth-child(2) {
                        // border-right: 1px solid #fff;
                        padding-right: 10px;
                        &:after {
                          content: "";
                          position: absolute;
                          background: #fff;
                          width: 1px;
                          height: 80%;
                          right: 0;
                        }
                      }
                      li {
                        padding: 0px 13px 0px 13px;
                        height: 55px;
                        display: flex;
                        align-items: center;
                        list-style: none;
                        transition: ease 0.25s;
                        position: relative;
                        &.active {
                          &:after {
                            position: absolute;
                            bottom: 0rem;
                            height: 8px;
                            width: 93%;
                            content: "";
                            background: #f9c201;
                            margin: auto;
                            left: 0;
                            right: 0;
                          }
                        }
                        &:hover {
                          background: #ffffff40;
                        }
                        &:nth-child(1),
                        &:nth-child(8) {
                          img {
                            width: 35px;
                            height: 35px;
                          }
                        }
                        img {
                          width: 30px;
                        }
                        @media screen and (min-width: 1200px) and (max-width: 1499px) {
                          padding: 0px 8px;
                        }
                        @media screen and (max-width: 1199px) {
                          padding: 0px 7px 0px 7px !important;
                          &:nth-child(1) {
                            img {
                              width: 33px;
                              height: 33px;
                            }
                          }
                          img {
                            width: 27px;
                          }
                        }
                        @media screen and (max-width: 450px) {
                          padding: 0px 4px 0px 4px !important;
                          &:nth-child(1) {
                            img {
                              width: 28px;
                              height: 28px;
                            }
                          }
                          img {
                            width: 25px;
                          }
                        }
                        @media screen and (max-width: 375px) {
                          &:nth-child(1) {
                            img {
                              width: 25px;
                              height: 25px;
                            }
                          }
                          img {
                            width: 22px;
                          }
                        }
                      }
                    }
                  }
                  .txt-wraper {
                    p {
                      color: #787878;
                      @media screen and (max-width: 1199px) {
                        font-size: 12px;
                      }
                    }
                  }
                  h6 {
                    @media screen and (max-width: 1199px) {
                      font-size: 12px;
                    }
                  }
                  .txt-or {
                    span {
                      background: #fff;
                      padding-left: 10px;
                      padding-right: 10px;
                    }
                    .separte-border {
                      border: 1px solid #e7e7e7;
                      margin-top: -12px;
                      margin-bottom: 10px;
                    }
                  }
                  .activation-detail {
                    background: #f4f6f9;
                    p {
                      line-height: 1.55;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 1;
                      white-space:nowrap;

                      @media screen and (max-width: 575px) {
                        font-size: 13px;
                      }
                      small {
                        font-size: 13px;
                        color: #707070;
                      }
                    }
                  }
                  .documenttype-input {
                    @media screen and (min-width: 1200px) {
                      width: 38% !important;
                    }
                    .vs__selected-options {
                      .vs__selected {
                        padding: 0px;
                        color: #333;
                        font-size: 13.5px;
                      }
                      .vs__search {
                        padding: 0 2px;
                        &::placeholder {
                          font-size: 13.5px;
                          color: #a5a5a5;
                        }
                      }
                    }
                    .vs__actions {
                      padding: 4px 4px 0px 0px;
                      button {
                        &.vs__clear {
                          margin-right: 2px;
                        }
                      }
                    }
                  }
                  .documentnumber-input {
                    @media screen and (min-width: 1200px) {
                      width: 39% !important;
                    }
                    @media screen and (max-width: 900px) {
                      padding-left: 1rem !important;
                    }
                  }
                  .gender-input {
                    @media screen and (min-width: 1200px) {
                      width: 23% !important;
                    }
                    .vs__selected-options {
                      .vs__selected {
                        padding: 0px;
                        color: #333;
                        font-size: 13.5px;
                      }
                      .vs__search {
                        padding: 0 2px;
                        &::placeholder {
                          font-size: 13.5px;
                          color: #a5a5a5;
                        }
                      }
                    }
                    .vs__actions {
                      padding: 4px 4px 0px 0px;
                      button {
                        &.vs__clear {
                          margin-right: 2px;
                        }
                      }
                    }
                    @media screen and (max-width: 900px) {
                      padding-left: 1rem !important;
                    }
                  }
                  .joiningcode-inputcontrol {
                    .joiningcode-input {
                      max-width: calc(100% - 135px);
                      width: 100%;
                      position: relative;
                    }
                    .verify-btn {
                      max-width: 125px;
                    }
                  }
                  .countdown-txt {
                    h4 {
                      color: #6f6f6f;
                    }
                  }
                }
                .login-tabs-container {
                  @media screen and (max-width: 991px) {
                    padding-top: 0px !important;
                  }
                  // .form-wrap{

                  // }
                }
              }
            }
          }
          &.recover-wrapper {
            min-height: 240px;
            .vx-row {
              &.no-gutter {
                min-height: 240px;
              }
            }
          }
          @media screen and (max-width: 991px) {
            background: #fff;
          }
        }
      }
    }
  }
  .uploadmodal-wrapper {
    .upload-btn {
      // -webkit-transform: rotate(-90deg) translateY(44px);
      // transform: rotate(-90deg) translateY(44px);
      padding: 10px !important;
      border-radius: 0px;
      background: #f9c201 !important;
      box-shadow: none;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 500;
      width:36px;
      min-height: 125px;

      .vs-button-text {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        // text-transform: uppercase;
        img {
          -webkit-transform: rotate(90deg) translateX(0px) translateY(0px);
          transform: rotate(90deg) translateX(0px) translateY(0px);
          width: 10px;
          margin-right: 15px;
        }
      }
      @media screen and (max-width: 450px) {
        display: none;
      }
    }
    .vs-content-sidebar {
      .vs-sidebar-position-right {
        .vs-sidebar--items {
          overflow-x: hidden !important;
          overflow-y: auto !important;
          &::-webkit-scrollbar {
            width: 0px;
            background-color: #f5f5f5;
          }
          .closehelp-btn {
            margin-right: 400px;
            z-index: -1;
            img {
              -webkit-transform: rotate(-90deg) translateX(-5px)
                translateY(-15px);
              transform: rotate(-90deg) translateX(-5px) translateY(-15px);
            }
            @media screen and (max-width: 450px) {
              display: none;
            }
          }
          .customizer-header {
            background: #383838;
            padding-top: 8.5px !important;
            padding-bottom: 8.5px !important;
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
// }
