body {
  color: #333;
}
.txt-gray {
  color: #aeaeae;
}
.txt-dark-gray {
  color: #737373;
}
.txt-green {
  color: #4ec12d;
}
.f-15 {
  font-size: 15px;
}
.position-relative {
  position: relative;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.justify-content-between {
  justify-content: space-between !important;
  -ms-justify-content: space-between !important;
}
.justify-content-end {
  justify-content: flex-end !important;
  -ms-justify-content: flex-end !important;
}
.align-items-center {
  align-items: center !important;
  -ms-align-items: center !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
// .vuesax-app-is-ltr{
.f-size-14 {
  font-size: 14px;
}
.w-225px {
  width: 225px;
  max-width: 250px;
}
.vs-button-primary.vs-button-border .vs-button-backgroundx,
.vs-button-primary.vs-button-flat .vs-button-backgroundx {
}
.btn-green {
  font-weight: bold;
  font-size: 16px;
  background-color: #4ec12d !important;
  background: #4ec12d !important;
  border-radius: 0px;
  border: 2px solid #4ec12d;
  box-shadow: none !important;
  outline: none;
  text-decoration: none;
  transition: ease 0.1s;
  color: #fff !important;
  &:hover {
    background: #fff !important;
    color: #4ec12d !important;
  }
  &.mxw-130 {
    max-width: 130px;
  }
  &.mxw-250 {
    max-width: 250px;
  }
  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}
.btn-gray {
  background-color: #888888 !important;
  background: #888888 !important;
  border-radius: 0px;
  border: 2px solid #888888;
  box-shadow: none !important;
  -webkit-transition: ease 0.1s;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px;
  max-width: 200px;
  width: 180px;
  &:hover {
    background: #fff !important;
    color: #888888 !important;
  }
  &.Trusthub-btn {
    @media screen and (max-width: 575px) {
      max-width: 110px;
      padding: 0px !important;
    }
  }
  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}
.Trusthub-btn:focus,
.Trusthub-btn:active {
  background-color: #f1c800 !important;
  background: #f1c800 !important;
  color: #fff;
  border: 2px solid #f1c800 !important;
}
.vs-button-primary.vs-button-border .vs-button-backgroundx,
.vs-button-primary.vs-button-flat .vs-button-backgroundx {
  background: #f1c800;
}

.vs-checkbox-primary {
  input:checked {
    + .vs-checkbox {
      background: #4ec12d !important;
      border: 2px solid #4ec12d !important;
    }
  }
}

.login-wrapper {
  @media screen and (max-width: 991px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100% !important;
  }
  .vx-col {
    &.login-subwrapper {
      @media screen and (min-width: 1200px) {
        max-width: 1130px;
        width: 95% !important;
      }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        max-width: 950px;
        width: 95% !important;
      }
      @media screen and (max-width: 991px) {
        max-width: 500px;
        width: 90% !important;
      }
      .cpy-txt {
        p {
          @media screen and (max-width: 575px) {
            font-size: 12px;
          }
        }
      }
    }
    .vx-card {
      .vx-card__collapsible-content {
        .full-page-bg-color {
          @media screen and (min-width: 992px) {
            min-height: 520px;
          }
          .vx-row {
            &.no-gutter {
              @media screen and (min-width: 992px) {
                min-height: 520px;
              }
            }
            .vx-col {
              .login-logo {
                margin-bottom: 1rem;
                max-width: 85%;
                margin-left: 3rem !important;
                margin-top: 3rem;
                @media screen and (max-width: 991px) {
                  max-width: 150px;
                  margin-left: auto !important;
                  margin-right: auto !important;
                  margin-top: 2rem !important;
                }
                img {
                  max-width: 100%;
                  height: auto;
                }
              }
              .appstore-wrapper {
                @media screen and (max-width: 991px) {
                  margin-top: 15px;
                  margin-right: 0px !important;
                }
                a {
                  max-width: 185px;
                  margin-left: 15px;
                  &:nth-child(1) {
                    margin-left: 0px;
                  }
                  img {
                    height: 60px;
                    @media screen and (max-width: 991px) {
                      height: 40px;
                    }
                  }
                }
              }
              &.right-wrapper {
                .tab-wrapper {
                  @media screen and (max-width: 575px) {
                    padding-left: 1rem !important;
                    padding-right: 1rem !important;
                  }
                  .vx-card__title {
                    .wrapper-heading {
                      max-width: calc(100% - 50px);
                      p {
                        font-size: 13px;
                      }
                    }
                    .msg-wrapper-icon {
                      width: 36px;
                    }
                  }
                  .border-lightgray {
                    border: 1px solid #e7e7e7 !important;
                  }
                  .tab-wrapper-form {
                    margin-top: 2rem;
                    .vs-component {
                      .vs-con-input {
                        .vs-input--input {
                          &.hasValue {
                            + .vs-placeholder-label {
                              display: none;
                            }
                          }
                          &.hasIcon:not(.icon-after-input) {
                            + .vs-input--placeholder {
                            }
                          }
                          &:focus {
                            border: 1px solid #acacac !important;

                            & ~ .icon-inputx,
                            & ~ .vs-placeholder-label {
                              color: #acacac;
                            }
                          }
                        }
                      }
                    }
                    .RF-content {
                      .con-slot-label {
                        @media screen and (max-width: 575px) {
                          font-size: 12px;
                        }
                      }
                      a {
                        color: #6d6d6d;
                        font-size: 12px;
                        @media screen and (max-width: 575px) {
                          font-size: 11px;
                        }
                      }
                    }
                    .LT-wrap {
                    }
                  }
                  .sub-trial-txt {
                    a {
                      color: #606060;
                    }
                  }
                  .bottom-menu-icon {
                    margin-top: auto;
                    display: flex;
                    background: #4ec12d;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    margin-bottom: 2rem;
                    max-height: 55px;
                    align-items: center;
                    ul {
                      &:nth-child(1),
                      &:nth-child(2) {
                        // border-right: 1px solid #fff;
                        padding-right: 18px;
                        &:after {
                          content: "";
                          position: absolute;
                          background: #fff;
                          width: 1px;
                          height: 80%;
                          right: 0;
                        }
                      }
                      li {
                        padding: 0px 13px 0px 13px;
                        height: 55px;
                        display: flex;
                        align-items: center;
                        list-style: none;
                        transition: ease 0.25s;
                        &:hover {
                          background: #ffffff40;
                        }
                        &:nth-child(1),
                        &:nth-child(8) {
                          img {
                            width: 35px;
                            height: 35px;
                          }
                        }
                        img {
                          width: 30px;
                        }
                        @media screen and (max-width: 1199px) {
                          padding: 0px 7px 0px 7px !important;
                          &:nth-child(1) {
                            img {
                              width: 33px;
                              height: 33px;
                            }
                          }
                          img {
                            width: 27px;
                          }
                        }
                        @media screen and (max-width: 450px) {
                          padding: 0px 4px 0px 4px !important;
                          &:nth-child(1) {
                            img {
                              width: 28px;
                              height: 28px;
                            }
                          }
                          img {
                            width: 25px;
                          }
                        }
                        @media screen and (max-width: 375px) {
                          &:nth-child(1) {
                            img {
                              width: 25px;
                              height: 25px;
                            }
                          }
                          img {
                            width: 22px;
                          }
                        }
                      }
                    }
                  }
                  .txt-wraper {
                    p {
                      color: #787878;
                      @media screen and (max-width: 1199px) {
                        font-size: 12px;
                      }
                    }
                  }
                  h6 {
                    @media screen and (max-width: 1199px) {
                      font-size: 12px;
                    }
                  }
                  .txt-or {
                    span {
                      background: #fff;
                      padding-left: 10px;
                      padding-right: 10px;
                    }
                    .separte-border {
                      border: 1px solid #e7e7e7;
                      margin-top: -12px;
                      margin-bottom: 10px;
                    }
                  }
                  .activation-detail {
                    background: #f4f6f9;
                    p {
                      line-height: 1.55;
                      @media screen and (max-width: 575px) {
                        font-size: 13px;
                      }
                      small {
                        font-size: 13px;
                        color: #707070;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .uploadmodal-wrapper {
    .upload-btn {
      -webkit-transform: rotate(-90deg) translateY(45px);
      transform: rotate(-90deg) translateY(45px);
      padding: 7px 25px 12px 35px !important;
      border-radius: 0px;
      background: #f9c201 !important;
      box-shadow: none;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      .vs-button-text {
        text-transform: uppercase;
        img {
          -webkit-transform: rotate(90deg) translateX(3px) translateY(15px);
          transform: rotate(90deg) translateX(3px) translateY(15px);
          width: 20px;
        }
      }
    }
    .vs-content-sidebar {
      .vs-sidebar-position-right {
        .vs-sidebar--items {
          overflow-x: hidden !important;
          overflow-y: auto !important;
          &::-webkit-scrollbar {
            width: 0px;
            background-color: #f5f5f5;
          }
          .closehelp-btn {
            margin-right: 400px;
            z-index: -1;
            img {
              -webkit-transform: rotate(-90deg) translateX(-5px)
                translateY(-15px);
              transform: rotate(-90deg) translateX(-5px) translateY(-15px);
            }
          }
          .customizer-header {
            background: #383838;
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
// }
